.navigation {
  display: flex;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $color-tertiary;
    font-size: 1.2rem;
    gap: 40px;

    &--active {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    padding: 0 0 0 20px;
    
    &__list {
      font-size: 0.8rem;
      gap: 0px;
    }

    a {
      display: inline-flex;
      min-width: 60px;
    }
  }
}