.card-details {
  display: flex;
  flex-direction: column;
  color: black;

  &__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 75px 30px 75px;
    max-width: 1240px;
    max-height: 415px;
    border-radius: 25px;
  }
}