.home {
  .cards-container {
    margin: 30px 80px;
    padding: 30px;
    background: darken($color: $background-color-primary, $amount: 5);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}